:root{ 
    --data_color_primary: #4141A3;
    --data_color_secondary: #F5B81B;
    --data_color_active: #8282d5b5;
    --data_color_white_1: #fff;
    --data_color_black_1:#000;
    --data_base_font_size:10px;
    --data_base_gradient_1:linear-gradient(to right bottom, #6e2a8c, #653192, #5b3699, #4f3c9e, #4141a3);
}